<div class="row justify-content-between">
  <!-- Lado esquerdo -->
  <div class="mb-3 col-12 col-lg-7">
    <div class="row justify-content-between">
      <div class="col-7">
        <p>Turma: ADS0303N</p>

        <p>Turno: Noite</p>

        <p>Bonsucesso</p>
      </div>

      <div class="col-3">
        <div class="row justify-content-end">
          <img src="assets/yuri.jpg" class="" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Lado direito -->
  <div class="col-12 col-lg-4">
    <div class="row">
      <p class="text-center">Nome: Yuri Dias Fonseca</p>
    </div>
  </div>
</div>
